<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minionese Visualizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="Section1">
        <div id="File_Upload">
            <div id="band"></div>
            <div id="goggles">
                <div id="eye"></div>
            </div>
        </div>
    </div>
    <div id="Section 2">
        <div id="Visualizer">Visualizer</div>
    </div>
</body>
</html>